<section class="bg_grey pb-0">
  <!-- Plan Options Starts -->
  <section class="plan_option_main">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <h2 class="inner_title">Plan <span>Options</span></h2>
        </div>
        <div class="col-lg-7">
          <p>Depending on your protection needs you can select any one of the following plan options available under the
            product
          </p>
        </div>
        </div>
        
        <div class="plan_option_slider">
          <div class="swiper planSlider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="plan_box">
                  <div class="plan_box_top">
                    <h5>Life Secure</h5>
        
                    <div class="list">
                      <ul>
                        <li>Spouse Cover</li>
                        <li>Block Your Premium</li>
                        <li>Child Care Benefit</li>
                        <li>Terminal Illness Benefit</li>
                        <li>Accidental Death, Disability and Critical Illness Cover</li>
                        <li>Tax Benefits as per prevailing tax laws amended from time to time</li>
                      </ul>
                    </div>
                  </div>
                  <div class="plan_box_bottom">
                    <a class="white_btn" href="#">Know More</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="plan_box">
                  <div class="plan_box_top">
                    <h5>Life Secure with Income</h5>
        
                    <div class="list">
                      <ul>
                        <li>Steady Monthly Income post attaining 60 years of age</li>
                        <li>Accidental Death, Disability and Critical Illness Cover</li>
                        <li>Tax Benefits as per prevailing tax laws amended from time to time</li>
                      </ul>
                    </div>
                  </div>
                  <div class="plan_box_bottom">
                    <a class="white_btn" href="#">Know More</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="plan_box">
                  <div class="plan_box_top">
                    <h5>Life Secure with Return of Premium</h5>
        
                    <div class="list">
                      <ul>
                        <li>Return of Premium at policy Maturity</li>
                        <li>Terminal Illness Benefit</li>
                        <li>Accidental Death, Disability and Critical Illness Cover</li>
                        <li>Tax Benefits as per prevailing tax laws amended from time to time</li>
                      </ul>
                    </div>
                  </div>
                  <div class="plan_box_bottom">
                    <a class="white_btn" href="#">Know More</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="plan_box">
                  <div class="plan_box_top">
                    <h5>Life Secure with Income</h5>
        
                    <div class="list">
                      <ul>
                        <li>Steady Monthly Income post attaining 60 years of age</li>
                        <li>Accidental Death, Disability and Critical Illness Cover</li>
                        <li>Tax Benefits as per prevailing tax laws amended from time to time</li>
                      </ul>
                    </div>
                  </div>
                  <div class="plan_box_bottom">
                    <a class="white_btn" href="#">Know More</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="plan_box">
                  <div class="plan_box_top">
                    <h5>Life Secure with Return of Premium</h5>
        
                    <div class="list">
                      <ul>
                        <li>Return of Premium at policy Maturity</li>
                        <li>Terminal Illness Benefit</li>
                        <li>Accidental Death, Disability and Critical Illness Cover</li>
                        <li>Tax Benefits as per prevailing tax laws amended from time to time</li>
                      </ul>
                    </div>
                  </div>
                  <div class="plan_box_bottom">
                    <a class="white_btn" href="#">Know More</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
        </div>
        </section>
        <!-- Plan Options Ends -->
        
        <!-- Why Buy Starts -->
        <section class="why_buy_section">
          <div class="container">
      <div class="why_buy_border">
        <div class="row g-0">
          <div class="col-lg-8">
            <div class="side_tab_container">
              <div class="d-sm-flex">
                <div class="side_nav_btns">
                  <ul class="nav d-none d-sm-block" id="myTab" role="tablist">
                    <li>
                      <button class="active" data-bs-toggle="tab" data-bs-target="#whyBuyTab">
                        Why Buy
                      </button>
                    </li>
                    <li>
                      <button data-bs-toggle="tab" data-bs-target="#benefitsTab">
                        Benefits
                      </button>
                    </li>
                    <li>
                      <button data-bs-toggle="tab" data-bs-target="#coverageTab">
                        Coverage Options
                      </button>
                    </li>
                    <li>
                      <button data-bs-toggle="tab" data-bs-target="#optionalTab">
                        Optional In-Built Covers
                      </button>
                    </li>
                    <li>
                      <button data-bs-toggle="tab" data-bs-target="#howItWorksTab">
                        How It Works
                      </button>
                    </li>
                    <li>
                      <button data-bs-toggle="tab" data-bs-target="#planGlanceTab">
                        Plan at a Glance
                      </button>
                    </li>
                  </ul>
      
                  <select class="d-block d-sm-none" id="tabSelector">
                    <option value="0">Why Buy</option>
                    <option value="1">Benefits</option>
                    <option value="2">Coverage Options</option>
                    <option value="3">Optional In-Built Covers</option>
                    <option value="4">How It Works</option>
                    <option value="5">Plan at a Glance</option>
                  </select>
                </div>
                <div class="side_nav_content">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="whyBuyTab">
                      <div class="tab_title mb-4">
                        <p>Life Secure</p>
                        <h5>Why Buy</h5>
                      </div>
      
                      <p class="mb-4">
                        <b>Financial Security</b> for your family in case of
                        any eventuality
                      </p>
                      <p class="mb-4">
                        <b>Double Protection</b> with the option to cover
                        Spouse in the same policy
                      </p>
                      <p class="mb-4">
                        <b>Flexibility</b> to choose policy term, premium
                        payment term, premium payment frequency and coverage
                        option
                      </p>
                      <p class="mb-4">
                        <b>Enhance your cover</b> with varied optional
                        inbuilt covers such as Accidental Death, Accidental
                        Total and Permanent Disability and more
                      </p>
                      <p class="mb-4">
                        <b>Secure your Child’s future with Child Care
                          Benefit</b>
                        where additional Sum Assured shall be payable in
                        case Life Assured’s death occurs when child is aged
                        between 0 to 21 years
                      </p>
                      <p class="mb-4">
                        Get covered against
                        <b>40 listed Critical Illnesses</b>
                      </p>
                      <p class="mb-4">
                        Meet your changing Lifestage protection needs with
                        the flexibility of
                        <b>Block Your Premium and Life Stage Enhancement</b>
                      </p>
                      <p>
                        <b>Tax Benefits</b> as per applicable laws amended
                        from time to time
                        </p>
                    </div>
                    <div class="tab-pane fade" id="benefitsTab">2...</div>
                    <div class="tab-pane fade" id="coverageTab">3...</div>
                    <div class="tab-pane fade" id="optionalTab">4...</div>
                    <div class="tab-pane fade" id="howItWorksTab">5...</div>
                    <div class="tab-pane fade" id="planGlanceTab">6...</div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-lg-4 bg-white">
                      <div class="download_section">
                        <div class="download_title">
                          <h6>Information Guides</h6>
                          <h4>Downloads</h4>
                        </div>

              <div class="download_box">
                <div class="download_list">
                  <a href="#">
                    <img src="/content/dam/canarahsbclife/language-master/en/side-tabs/pdf.png" alt="" />
                    <div class="download_text">
                      <h5>Product Brochure</h5>
                      <p>(Brouchue_filename.pdf)</p>
                    </div>
                    <span>
                      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                          stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M8 12L12 16L16 12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 8V16" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </span>
                  </a>
                </div>
                <div class="download_list">
                  <a href="#">
                    <img src="/content/dam/canarahsbclife/language-master/en/side-tabs/pdf.png" alt="" />
                    <div class="download_text">
                      <h5>Policy Contract</h5>
                      <p>(Brouchue_filename.pdf)</p>
                    </div>
                    <span>
                      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                          stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M8 12L12 16L16 12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 8V16" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </span>
                  </a>
                </div>
                <div class="download_list">
                  <a href="#">
                    <img src="/content/dam/canarahsbclife/language-master/en/side-tabs/pdf.png" alt="" />
                    <div class="download_text">
                      <h5>Product Information</h5>
                      <p>(Brouchue_filename.pdf)</p>
                    </div>
                    <span>
                      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                          stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M8 12L12 16L16 12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 8V16" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </span>
                  </a>
                </div>
                <div class="download_list">
                  <a href="#">
                    <img src="/content/dam/canarahsbclife/language-master/en/side-tabs/pdf.png" alt="" />
                    <div class="download_text">
                      <h5>Plan Flyer</h5>
                      <p>(Brouchue_filename.pdf)</p>
                    </div>
                    <span>
                      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                          stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M8 12L12 16L16 12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 8V16" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </span>
                  </a>
                </div>
                <div class="download_list">
                  <a href="#">
                    <img src="/content/dam/canarahsbclife/language-master/en/side-tabs/pdf.png" alt="" />
                    <div class="download_text">
                      <h5>Premium Rates</h5>
                      <p>(Brouchue_filename.pdf)</p>
                    </div>
                    <span>
                      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z"
                          stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M8 12L12 16L16 12" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M12 8V16" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
  </section>
  <!-- Why Buy Ends -->
  
  <!-- Download Term Btn Starts -->
  <section class="bg-white p-lg-5 p-4 text-center download_term_btn">
    <div class="container">
      <a class="blue_btn my-4" href="#">Download Term Insurance Buying Guide</a>
    </div>
    </section>
  <!-- Download Term Btn Ends -->
  </section>