$primaryColor: #00ADEE;

.about_section{
    padding: 5% 0;

    p{
        line-height: 30px;
        margin-bottom: 20px;
        color: #666;

        span{
            color: $primaryColor;
        }
    }
}

@media only screen and (max-width: 767px){

    .about_section{
        padding: 10% 0;
    }

}